/* Start Variables  */
$color_1: var(--neutral--800);
$color_2: var(--neutral--100);
$color_3: var(--accent--primary-1);
$color_4: var(--neutral--600);
$color_5: var(--secondary--color-2);
$font-family_1: Metropolis, sans-serif;
$background-color_1: var(--accent--primary-1);
$background-color_2: var(--secondary--color-1);
$background-color_3: var(--neutral--100);
$border-color_1: var(--secondary--color-1);
$border-color_2: var(--accent--primary-1);
$border-bottom-color_1: var(--neutral--800);

&:root {
  --accent--primary-1: #ff5634;
  --neutral--600: #656565;
  --neutral--800: #121212;
  --secondary--color-2: #fff5f1;
  --neutral--300: #ededed;
  --neutral--400: #ededed;
  --neutral--100: white;
  --secondary--color-1: #e13f1f;
}
/* End Variables   */
/* Start Customize Code */
a {
  text-decoration: none;
  &:hover {
    color: $color_1;
  }
}
.btn-primary {
  border: 1px solid var(--accent--primary-1);
  background-color: $background-color_1;
  color: $color_2;
  text-align: center;
  border-radius: 16px;
  justify-content: center;
  padding: 26px 38px;
  font-weight: 700;
  line-height: 1.111em;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  &:hover {
    border-color: $border-color_1;
    background-color: $background-color_2;
    color: $color_2;
  }
}
.btn-primary.small {
  border-radius: 12px;
  padding: 18px 24px;
  font-size: 16px;
  line-height: 1.125em;
}
.btn-secondary.small {
  border-radius: 12px;
  padding: 18px 24px;
  font-size: 16px;
  line-height: 1.125em;
}
.btn-secondary {
  border: 1px solid var(--neutral--300);
  background-color: $background-color_3;
  box-shadow: 0 2px 6px 0 var(--button-shadow--white-01);
  color: $color_1;
  text-align: center;
  border-radius: 16px;
  padding: 26px 38px;
  font-weight: 500;
  line-height: 1.111em;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  &:hover {
    border-color: $border-color_2;
    background-color: $background-color_1;
    color: $color_2;
  }
}

/* End Customize Code  */
/* Start navbar Style */
.navbar {
  background-color: $background-color_3;
  top: 0;
  box-shadow: 0 3px 12px rgba(18, 18, 18, 0.06);
  .dropdown-menu {
    min-width: 600px;
  }
  .nav-item {
    .dropdown-menu {
      min-width: 600px;
    }
    align-items: center;
  }
  .header-logo-link {
    max-width: 161px;
    transform-style: preserve-3d;
    margin-right: 30px;
    padding-left: 0;
    transition: transform 0.3s;
    &:hover {
      transform: scale3d(0.95, 0.95, 1.01);
    }
  }
  .dropdown-cols-2 {
    .dropdown-menu {
      > div {
        float: left;
        padding: 10px 20px;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        list-style: none;
      }
    }
  }
  .nav-link {
    color: $color_1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.125em;
    &:hover {
      color: $color_3;
    }
  }
  .inner__menu {
    .nav-link {
      color: $color_4 !important;
      text-decoration: none;
    }
    display: flex;
    justify-content: space-around;
  }
  .first__column {
    .nav-link {
      color: $color_4 !important;
      text-decoration: none;
    }
    width: 60%;
  }
  .nav-more {
    border-bottom: 3px solid var(--accent--primary-1);
    color: $color_3 !important;
    padding-bottom: 6px;
    font-weight: 700;
    transition: border-color 0.3s, color 0.3s;
    display: inline-block;
    &:hover {
      border-bottom-color: $border-bottom-color_1;
      color: $color_1 !important;
    }
  }
}
.navbar.second__column {
  .nav-link {
    color: $color_4 !important;
    text-decoration: none;
  }
  width: 40%;
}
/* End navbar Style  */
/* Start Not Found Style  */
.not__found {
  display: flex;
  align-items: center;
  .right__section {
    overflow: hidden;
  }
  ._404-not-found {
    z-index: -1;
    color: $color_5;
    margin-bottom: 8px;
    margin-left: -4px;
    font-size: 23vw;
    font-weight: 700;
    line-height: 1em;
    position: absolute;
  }
  h2 {
    color: $color_1;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 62px;
    font-weight: 700;
    line-height: 1.161em;
  }
}
/* End Not Found Style  */
/* Start Footer Style  */
.footer__wrapper {
  border-top: 1px solid var(--neutral--400);
  background-color: $background-color_3;
  .left__footer {
    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.1em;
      color: $color_1;
    }
    img {
      border-radius: 24px;
      transform: translate(0);
    }
    span {
      margin-left: 1rem;
      color: $color_1;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.333em;
    }
  }
  .right__footer {
    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.1em;
      color: $color_1;
    }
  }
  .text {
    color: $color_4;
    font-family: $font-family_1;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667em;
  }
  .footer__bottom {
    border-top: 1px solid var(--neutral--300);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    p {
      color: $color_4;
      font-family: $font-family_1;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.667em;
    }
    .text-decoration-none {
      text-decoration: none;
      color: $color_3;
      transition: color 0.3s;
    }
  }
  .text-200 {
    font-size: 18px;
    line-height: 1.111em;
  }
  .text-200.menu-nav-link {
    &:hover {
      color: $color_3;
    }
  }
  .text-200.menu-nav-link.special {
    border-bottom: 3px solid var(--accent--primary-1);
    color: $color_3;
    padding-bottom: 6px;
    font-weight: 700;
    transition: border-color 0.3s, color 0.3s;
    display: inline-block;
    &:hover {
      border-bottom-color: $border-bottom-color_1;
      color: $color_1;
    }
  }
}
.footer__logo {
  width: 40%;
}
.footer__text {
  white-space: wrap;
}
.nav-menu-list-main-wrapper {
  display: flex;
}
.nav-menu-list-wrapper {
  margin-bottom: 0;
  margin-right: 40px;
  padding-left: 0;
  list-style-type: none;
}
.nav-menu-list-item {
  margin-bottom: 18px;
  padding-left: 0;
  line-height: 1.111em;
}
.text-200.menu-nav-link {
  color: $color_4;
  text-decoration: none;
}
.img__animate {
  will-change: transform;
  transform: translate3d(0px, 14.9565px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
/* End Footer Style  */
/* Start Responsive Style  */
@media only screen and (min-width: 320px) {
  .btn-right {
    display: none;
  }
  .btn-left {
    display: none;
  }
  .big-cart {
    display: none;
  }
  .btn__left__meduim {
    display: none;
  }
  .btn__right__meduim {
    display: none;
  }
  .small__navbar {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .btn__left__meduim {
    display: block;
  }
  .btn__right__meduim {
    display: block;
  }
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 992px) {
  .btn-right {
    display: block;
  }
  .btn-left {
    display: block;
  }
  .big-cart {
    display: block;
  }
  .small__navbar {
    display: none;
  }
  .btn__left__meduim {
    display: flex;
  }
  .btn__right__meduim {
    display: flex;
  }
}
/* End Responsive Style  */
